.reveal h1,
.reveal h2,
.reveal h3
{
    text-transform: uppercase;
}

.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: none;
}

.reveal p {
font-size: 70%;
}

.reveal p.large {
font-size: 100%;
}

p.notes {
    color: #7a7a7a;
    font-size: 65%;
}

p.caption {
  margin-top: 5px;
  background: rgb(46, 45, 45);
  padding: 3px;
  border-radius: 3px;
  color: #7a7a7a;
  font-size: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.reveal ul {
    font-size: 80%;
    list-style-type: square;
}

.reveal ul.final-list {
    font-size: 50%;
}

.reveal ol {
    font-size: 80%;
}

.reveal pre.full {
  width: 100%;
}

.reveal code.small-code {
  font-size: 70%;
}

.reveal p.small-letters {
font-size: 60%;
}

code.code-part {
  color: rgb(233, 173, 101);
  background-color: rgb(91, 91, 91);
  border-radius: 3px;
  padding: 0 4px;
}

span.list-notes {
    color: #7a7a7a;
    font-size: 65%;
}

.twitter-blue {
    color: #1da1f2;
}

span.highlighted {
  font-weight: 600;
  color:rgb(33, 156, 119);
}

.on-top {
  position: relative;
}

.on-top .parts {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.image {
    position: relative;
    height: 500px;
}

.image .top-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.image .caption-inside {
    position: absolute;
    bottom: 300px;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: black;
    font-size: 50%;
    font-weight: bold;
}

.final-container {
    position: relative;
}

.right {
    float: right;
    width: 45%;
    text-align: left;
}

.left {
    float: left;
    width: 50%;
}
